<div class="d-flex justify-content-between align-items-center footer footer-expand fixed-bottom container-fluid">

  <button class="btn fa-2x mx-3" type="button">
    <%= link_to "/" do %>
      <i class="fa-sharp fa-solid fa-d text-white"></i>
    <% end %>
  </button>

    <button class="btn fa-2x mx-3" type="button">
    <%= link_to "/" do %>
      <i class="fa-sharp fa-solid fa-map-pin text-white"></i>
    <% end %>
  </button>

    <button class="btn fa-2x mx-3" type="button">
    <%= link_to "/search" do %>
      <i class="fa-sharp fa-solid fa-magnifying-glass text-white"></i>
    <% end %>
  </button>

    <button class="btn fa-2x mx-3" type="button">
    <%= link_to "/" do %>
    <i class="fa-sharp fa-solid fa-plus text-white"></i>
    <% end %>
  </button>
</div>
