<div class="d-flex justify-content-between align-items-center navbar navbar-expand sticky-top container-fluid">
  <%= link_to "/", class: "navbar-brand mx-3" do %>
      <%= image_tag "https://res.cloudinary.com/dwrkiuiqa/image/upload/v1678287031/Historant-white-logo_qp4vdr.png" %>
  <% end %>

    <div class="dropdown">
    <button class="btn fa-2x mx-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-sharp fa-solid fa-bars"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</div>
