<h1>Dashboard</h1>


<h2>Places you have visited</h2>


<div class="card-deck">
  <% @places.each do |place| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= place.name %></h5>
        <p class="card-text"><%= place.address %></p>
        <p class="card-text"><%= place.category %></p>
        <p class="card-text"><%= place.cuisine %></p>
      </div>
    </div>
  <% end %>
</div>
