<div class="container-fluid">

  <img src="https://res.cloudinary.com/dwrkiuiqa/image/upload/v1678205141/Historant-logo-BIG-LOGO_vhiqzm.png" class="mx-auto d-block" width="900" alt="logo">

  <h1 class="text-center"><strong>is just born!</strong></h1>

  <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>

</div>
