<div class="container">

  <img src="https://res.cloudinary.com/dwrkiuiqa/image/upload/v1678205141/Historant-logo-BIG-LOGO_vhiqzm.png" class="d-block" width="200" alt="logo">

<div class="text-start mx-1">
  <h2>is just born!</h2>

  <h2>Note:</h2>
  <h2>Home page should be shown before user authentication! The first page after that will be dashboard!</h2>

  <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
</div>
</div>
