.navbar {
  justify-content: space-between;
  background-color: #A84448;
}

.navbar-brand img {
  width: 150px;
}

.navbar-icon {
  width: 10px;
}

.navbar li {
  color: white;
}

.btn {
  color: white;
}

#navbar-button {
  border: none;
}

#navbar-button:active, #navbar-button:visited, #navbar-button:focus, #navbar-button:hover  {
  border: none !important;
  outline: 0 !important;
  background-color: transparent !important;
}

.btn.show {
  color: white;
  background-color: #A84448;
  border-color: #A84448;
}

.btn:hover {
  color: white;
  text-decoration: none;
}
