#places-carousel {

  background-color: rgb(186, 39, 88);
  margin: auto 0;
  height: 100;
  width: 100%
}

.carousel-inner {
  background-color: blue;
}

.card-text {
  color: midnightblue;
}

.card {
  background-color: red;
  display: flex;
}

.card-body {
  margin: 0 auto;
}
