#places-carousel {

  margin: auto 0;
  height: 100;
  width: 100%
}

.list {
  text-align: center;
}

.btn{
  color: rgb(85, 14, 14);
}

.card-text {
  color: rgb(55, 25, 3);
  text-align: center;

}

h1{
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.card-title {
  text-align: center;
  margin-top: 60px;
}

.card {
  background-color: rgb(224, 163, 49);
  display: flex;
}

.card-body {

  height: 200px;
}
